default: &default
  adapter: postgresql
  encoding: unicode
  username: ilya
  password:
  host: localhost
  pool: 5
  database: petition<%= Rails.env %>
  timeout: 5000

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default